p {
  margin: 0px;
}
.img {
  border-radius: 50%;
  margin-right: 10px;
}
.imgExtra {
  width: 100%;
}
.aps {
  position: relative;
}
.name {
  position: relative;
  bottom: 40px;
  left: 10px;
  color: white;
}
.shadow:hover {
  -webkit-box-shadow: -4px 7px 12px 4px #a1a1a1 !important;
  box-shadow: -4px 7px 12px 4px #a1a1a1 !important;
  transition: 0.5s !important;
  padding: 5px;
}
ul {
  margin: 0px;
}
.purpleClass {
  background-color: #ffebee !important;
}
.mar {
  margin: 0px !important;
  border-bottom: 1px solid gray;
  padding: 10px;
}
.count{
  margin-bottom: 10px;
  text-align: right;
  color: rgb(155, 153, 153);
}

